{% extends 'index.html' %}

{% block taxon_active %}active{% endblock %}

{% block body %}

<main class="container">

    <br>
    <h3>Удаление таксона</h3>
    <h6>Вы уверены, что хотите удалить таксон taxonName(taxonId)?</h6>
    <br>
    <form action="/taxa/delete/" method="post">
        {% csrf_token %}
        <input type="hidden" id="taxonId" name="taxonId" value="">

        <a href="/taxa/"><input type="submit" class="btn btn-primery" value="Отмена"></a>
        <input type="submit" class="btn btn-danger" name="delete" value="Удалить">
    </form>

</main>

{% endblock %}