{% extends 'index.html' %}

{% block taxon_active %}active{% endblock %}

{% block body %}

<main class="container">

    <br>
    <h3>Перемещение таксона</h3>
    <form action="/taxa/move/" method="post">
        {% csrf_token %}
        <input type="hidden" id="taxonId" name="taxonId" value="">

        <div class="form-group">
            <h6>Родитель: parentId</h6>
            <h6>ID таксона: taxonId</h6>
            <br>

            <label for="taxonParentId">Поиск нового родителя таксона</label>
            <input type="text" class="form-control" id="taxonParentId" name="taxonParentId" aria-describedby="taxonParentIdHelp">
            <small id="taxonParentIdHelp" class="form-text text-muted">Введите имя таксона для поиска. Оставьте пустым для перемещения таксона в корень</small>
        </div>
    </form>


    <div class="taxons-hierarchy">
        <a href="#" class="badge badge-pill badge-primary"><h6>Грибы</h6></a>
        <a href="#" class="badge badge-pill badge-primary"><h6>Растения</h6></a>
        <a href="#" class="badge badge-pill badge-primary"><h6>Животные</h6></a>
        <a href="#" class="badge badge-pill badge-primary"><h6>Вирусы</h6></a>
    </div>

    <br>
    <br>

    <input type="submit" class="btn btn-primary" value="Переместить таксон">
</main>

{% endblock %}
