{% extends 'index.html' %}

{% block taxon_active %}active{% endblock %}

{% block body %}

<main class="container">

    <br>
    <h3>Добавление нового таксона</h3>
    <form action="/taxa/new/" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="taxonName">Имя нового таксона</label>
            <input type="text" class="form-control" id="taxonName" name="taxonName" aria-describedby="taxonNameHelp">
        </div>
{#        <input type="hidden" name="taxonParentId">#}
        <div class="form-group">
            <label for="taxonParentName">Поиск родителя таксона</label>
            <input type="text" class="form-control" id="taxonParentName" name="taxonParentName" aria-describedby="taxonParentNameHelp">
            <small id="taxonParentNameHelp" class="form-text text-muted">Введите имя таксона для поиска. Оставьте пустым для создания корневого таксона</small>
        </div>

        {% if success != null %}
        {% if success %}
        <div class="alert alert-success">
            {{ message }}
        </div>
        {% else %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
        {% endif %}
        {% endif %}

        <div class="taxons-hierarchy">

        </div>

        <br>
        <br>

        <input type="submit" class="btn btn-primary" value="Добавить">
    </form>

</main>

{% endblock %}