{% extends 'index.html' %}

{% block taxon_active %}active{% endblock %}

{% block body %}

<main class="container">

    <br>
    <h3>Изменение имени таксона</h3>
    <h6>Старое имя: taxonName</h6>
    <h6>ID таксона: taxonId</h6>
    <br>
    <form action="/taxa/rename/" method="post">
        {% csrf_token %}
        <input type="hidden" id="taxonId" name="taxonId" value="">

        <div class="form-group">
            <label for="taxonName">Новое имя таксона</label>
            <input type="text" class="form-control" id="taxonName" name="taxonName" aria-describedby="taxonNameHelp">
        </div>

        <input type="submit" class="btn btn-primary" value="Изменить имя">
    </form>


    <br>
    <br>

</main>

{% endblock %}