{% extends 'index.html' %}

{% block taxon_active %}active{% endblock %}

{% block body %}

<main class="container">

    <br>
    <h3>Deleting a taxon</h3>
    <h6>Are you sure you want to delete the taxon {{ taxon_name }}({{ taxon_id }})?</h6>
    <br>
    <form action="/taxon/delete/{{ taxon_id }}/" method="post">
        {% csrf_token %}
        <input type="hidden" id="taxonId" name="taxonId" value="">


        {% if success != None %}
        {% if success %}
        <div class="alert alert-success">
            {{ message }}
        </div>
        {% else %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
        <a href="/taxons/" class="btn btn-primery" >Go back to the main page</a>
        <input type="submit" class="btn btn-danger" name="delete" value="Delete">
        {% endif %}
        {% else %}
        <a href="/taxons/" class="btn btn-primery" >Go back to the main page</a>
        <input type="submit" class="btn btn-danger" name="delete" value="Delete">
        {% endif %}


    </form>

</main>

{% endblock %}