{% extends 'index.html' %}

{% block taxon_active %}active{% endblock %}

{% block body %}

<main class="container">

    <br>
    <h3>Moving taxon</h3>
    <form action="/taxon/move/{{ taxon_id }}/" method="post">
        {% csrf_token %}
        <input type="hidden" id="taxonId" name="taxonId" value="">

        <div class="form-group">
            <h6>Current Parent's Name: {{ taxon_parent_name }}</h6>
            <h6>Taxon name: {{ taxon_name }}</h6>
            <br>

            <label for="taxonParentName">Finding the new parent of the taxon</label>
            <input type="text" class="form-control" id="taxonParentName" name="taxonParentName" aria-describedby="taxonParentNameHelp">
            <small id="taxonParentNameHelp" class="form-text text-muted">Enter the name of the taxon to search for. Leave blank to move the taxon to the root</small>
        </div>


        {% if success != None %}
        {% if success %}
        <div class="alert alert-success">
            {{ message }}
        </div>
        {% else %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
        {% endif %}
        {% endif %}

        <div class="taxons-hierarchy">

        </div>

        <br>
        <br>

        <input type="submit" class="btn btn-primary" value="Move taxon">
     </form>
</main>

{% endblock %}
