{% extends 'index.html' %}

{% block taxon_active %}active{% endblock %}

{% block body %}

<main class="container">

    <br>
    <h3>Изменение имени таксона</h3>
    <h6>Текущее имя: </h6>
    <h6>ID таксона: {{ taxon_id }}</h6>
    <br>
    <form action="/taxon/rename/{{ taxon_id }}/" method="post">
        {% csrf_token %}
        <input type="hidden" id="taxonId" name="taxonId" value="">

        <div class="form-group">
            <label for="taxonName">Новое имя таксона</label>
            <input type="text" class="form-control" id="taxonName" name="taxonName" aria-describedby="taxonNameHelp">
        </div>

        {% if success != None %}
        {% if success %}
        <div class="alert alert-success">
            {{ message }}
        </div>
        {% else %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
        {% endif %}
        {% endif %}

        <input type="submit" class="btn btn-primary" value="Изменить имя">
    </form>

</main>

{% endblock %}