{% extends "index.html" %}

{%  block body %}
<nav class="container navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/taxa/">Таксоны</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/experiments/">Эксперименты</a>
            </li>

        </ul>


        <form class="form-inline" method="post" action="/login">
            <label class="sr-only" for="inlineFormInputUsername">Имя пользователя</label>
            <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputUsername" placeholder="Имя пользователя">


            <label class="sr-only" for="inlineFormInputPassword">Пароль</label>
            <input type="password" class="form-control mb-2 mr-sm-2" id="inlineFormInputPassword" placeholder="Пароль">


            <button type="submit" class="btn btn-primary mb-2">Вход</button>
        </form>
    </div>
</nav>

<main class="container">
    <div class="taxons-hierarchy">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/taxa/">Корень</a></li>
                {% for el in hierarchy %}
                    <li class="breadcrumb-item {% if forloop.last %}active{% endif %}">
                        {% if forloop.last %}{{ el.name }}
                        {% else %}<a href="/taxa/{{ el.id }}">{{ el.name }} </a>
                        {% endif %}
                    </li>
                {% endfor %}
<!--                <li class="breadcrumb-item"><a href="#">Library</a></li>-->
<!--                <li class="breadcrumb-item active" aria-current="page">Data</li>-->
            </ol>
        </nav>
        {% for el in children %}
        <a href="/taxa/{{ el.id }}" class="badge badge-pill badge-primary"><h6>{{ el.name }}</h6></a>
        {% endfor %}
    </div>

    <br>
    <br>

    <div class="table-experiments">
        <table class="table table-striped table-hover table-responsive">
            <thead class="thead-default">
            <tr>
                <th>#</th>
                <th>Название</th>
                <th>Образ жизни</th>
                <th>Ареал</th>
                <th>Пол</th>
                <th>Возраст(дни)</th>
                <th>Вес(кг)</th>
                <th>Длина(см)</th>
                <th>Факторы среды</th>
                <th>Заболевания</th>
            </tr>
            </thead>
            <tbody>
            {% for el in experiments %}
            <tr>
                <th scope="row"> {{ forloop.counter }} </th>
                <td>{{ el.name }}</td>
                <td>{{ el.wayOfLife }}</td>
                <td>{{ el.habitat }}</td>
                <td>{{ el.gender }}</td>
                <td>{{ el.monthsAge }}</td>
                <td>{{ el.weight }}</td>
                <td>{{ el.length }}</td>
                <td>{{ el.environmentalFactors }}</td>
                <td>{{ el.diseases }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

</main>
{% endblock %}