{% extends "index.html" %}

{% block taxon_active %}active{% endblock %}

{%  block body %}

<main class="container">

    {% if user_auth %}
    <br>
    <div class="taxon-buttons">
        <a href="/taxon/new/" class="btn btn-success">Добавить таксон</a>
        <a href="/taxon/rename/{{ taxon_id }}" class="btn btn-primary">Переименовать таксон</a>
        <a href="/taxon/move/{{ taxon_id }}" class="btn btn-primary">Переместить таксон</a>
        <a href="/taxon/delete/{{ taxon_id }}" class="btn btn-danger">Удалить таксон</a>
    </div>
    <br>
    {% endif %}

    <div class="taxons-hierarchy">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/taxons/">Корень</a></li>
                {% for el in hierarchy %}
                    <li class="breadcrumb-item {% if forloop.last %}active{% endif %}">
                        {% if forloop.last %}{{ el.name }}
                        {% else %}<a href="/taxons/{{ el.id }}">{{ el.name }} </a>
                        {% endif %}
                    </li>
                {% endfor %}
<!--                <li class="breadcrumb-item"><a href="#">Library</a></li>-->
<!--                <li class="breadcrumb-item active" aria-current="page">Data</li>-->
            </ol>
        </nav>
        {% for el in children %}
        <a href="/taxons/{{ el.id }}" class="badge badge-pill badge-primary"><h6>{{ el.name }}</h6></a>
        {% endfor %}
    </div>

    <br>
    <br>

    {% include 'experiments_table.html' %}

</main>
{% endblock %}